section{

    mat-toolbar {
        //border-radius: 50%;
        color: #2c2a2a;
        background-color: #fff;
      }
      mat-nav-list a {
        color: #ffffff;
        text-decoration: none;
      }
}