<section>

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" opened="false" fixedInViewport>
        <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar color="primary">
        
        <button class="button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span style="margin-left: 20px;">MecaMaster77</span>
      </mat-toolbar>

      <div>        
        <router-outlet></router-outlet>
      </div>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
